@page "/contacten"
@using Bitmail.Models;
@using Bitmail.Components
@using Bitmail.Components.Buttons;

<h3>Contacten</h3>
<input class="form-control col-3" @bind-value="SearchTerm" @bind-value:event="oninput" placeholder="Zoeken..." />
<hr>
<div class="row">
    <div class="col col-nav">
        <div class="vertical-menu" style="height:660px; max-height:100%;">
            @foreach (var item in FilteredContacts)
            {
                <button type="button" style="width:100%; border-radius:0px;" class="btn btn-light vertical-menu-button" @onclick="@(()=> OnContactClicked(item) )">@item.FirstName @item.LastName</button><br />
            }
        </div>
        <hr />
        <div class="content-nav-bottom">
            <button @onclick="OnNewContact" class="btn btn-primary">Nieuw contact aanmaken</button>
        </div>
    </div>
    <div class="col pl-4 ml-4">
        @if (IsNewContact)
        {
            <EditForm Model="CurrentContact" OnSubmit="SaveContact">
                <div style="height:660px; max-height:100%;">
                    <DataAnnotationsValidator />
                    <b>Nieuwe Contact:</b><br />
                    <b>Voornaam: </b><br /><InputText class="form-control editItemInput" placeholder="Voornaam" @bind-Value="CurrentContact.FirstName"></InputText>
                    <ValidationMessage For="@(() => CurrentContact.FirstName)" />
                    <b>Acgrernaam: </b><br /><InputText class="form-control editItemInput" placeholder="Voornaam" @bind-Value="CurrentContact.LastName"></InputText>
                    <ValidationMessage For="@(() => CurrentContact.FirstName)" />
                    <b>E-mail: </b><br /><InputText class="form-control editItemInput" placeholder="E-mail" @bind-Value="CurrentContact.Email"></InputText>
                    <ValidationMessage For="@(() => CurrentContact.FirstName)" />
                    <div class="row">
                        <div class="col-md">
                            <b>Organisatie(s):</b>
                            <SearchComponent Placeholder="Zoeken..." OnInput="OnOrganisationSearch"></SearchComponent>
                            <div style="height: 360px; max-height:360px; overflow-y:auto; background-color:#eee;">
                                @foreach (var item in Organisations)
                                {
                                    <span style="cursor: pointer">
                                        <a role="button" style="width:100%; border-radius:0px; text-align:left" class="btn btn-light" @onclick="@(() => OnOrganisationItemSelected(item.Id))">
                                            @if (SelectedOrganisations != null && SelectedOrganisations.Contains(item.Id))
                                            {
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                                </svg>
                                            }
                                            else
                                            {
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                </svg>
                                            }
                                            <span class="pl-3">
                                                @item.Name
                                            </span>
                                        </a><br />
                                    </span>
                                }
                            </div>
                        </div>
                        <div class="col-md">
                            <b>Label(s):</b>
                            <SearchComponent Placeholder="Zoeken..." OnInput="OnTagSearch"></SearchComponent>
                            <div style="height: 360px; max-height:360px; overflow-y:auto; background-color:#eee;">
                                @foreach (var item in Tags)
                                {
                                    <span style="cursor: pointer">
                                        <a role="button" style="width:100%; border-radius:0px; text-align:left" class="btn btn-light" @onclick="@(() => OnTagItemSelected(item.Id))">
                                            @if (SelectedTags != null && SelectedTags.Contains(item.Id))
                                            {
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                                </svg>
                                            }
                                            else
                                            {
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                </svg>
                                            }
                                            <span class="pl-3">
                                                @item.Title
                                            </span>
                                        </a><br />
                                    </span>
                                }
                            </div>
                        </div>
                    </div>                    
                </div>
                <hr />
                <PrimaryButton Type="submit"> Opslaan </PrimaryButton>
                <DangerButton OnClick="@(() => OnContactClicked(CurrentContact))">Annuleer</DangerButton>
            </EditForm>
        }
        else
        {
            @if (CurrentContact.Email != null && !EditClicked)
            {
                <div style="height:660px; max-height:100%;">
                    <b>@CurrentContact.FirstName</b><br>
                    <b>@CurrentContact.LastName</b><br>
                    <b>@CurrentContact.Email</b><br>
                    <b>@CurrentContact.Id</b><br>


                    <div style="height: 200px; overflow-y:auto">
                        <b>Bijbehorende organisaties: </b><br>
                        @foreach (var oc in CurrentContact.OrganisationContacts)
                        {
                            <span>- @oc.Organisation.Name</span><br />
                        }
                    </div>
                    <div style="height: 200px; overflow-y:auto">
                        <b>Bijbehorende Labels: </b><br>
                        @foreach (var oc in CurrentContact.ContactTags)
                        {
                            <span>- @oc.Tag.Title</span><br />
                        }
                    </div>
                </div>

                <hr />
                <PrimaryButton OnClick="OnEditClicked">Wijzig Contact</PrimaryButton>
                <DangerButton OnClick="RemoveContact">Verwijder Contact</DangerButton>                               
            }
            @if (EditClicked)
            {
                <EditForm Model="CurrentContact" OnSubmit="EditContact">
                    <div style="height:660px; max-height:100%;">
                        <b>Wijzig contact</b><br />
                        <DataAnnotationsValidator />
                        <b>Voornaam: </b><br /><InputText class="form-control editItemInput" placeholder="Vooraam" @bind-Value="CurrentContact.FirstName"></InputText>
                        <ValidationMessage For="@(() => CurrentContact.FirstName)" />
                        <b>Achternaam: </b><br /><InputText class="form-control editItemInput" placeholder="Vooraam" @bind-Value="CurrentContact.LastName"></InputText>
                        <ValidationMessage For="@(() => CurrentContact.LastName)" />
                        <b>E-Mail: </b><br /><InputText class="form-control editItemInput" placeholder="E-Mail" @bind-Value="CurrentContact.Email"></InputText>
                        <ValidationMessage For="@(() => CurrentContact.Email)" />

                        <div class="row">
                            <div class="col-md">
                                <b>Organisatie(s):</b>
                                <SearchComponent Placeholder="Zoeken..." OnInput="OnOrganisationSearch"></SearchComponent>
                                <div style="height: 360px; max-height:360px; overflow-y:auto; background-color:#eee;">
                                    @foreach (var item in Organisations)
                                    {
                                        <span style="cursor: pointer">
                                            <a role="button" style="width:100%; border-radius:0px; text-align:left" class="btn btn-light" @onclick="@(() => OnOrganisationItemSelected(item.Id))">
                                                @if (SelectedOrganisations != null && SelectedOrganisations.Contains(item.Id))
                                                {
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    </svg>
                                                }
                                                <span class="pl-3">
                                                    @item.Name
                                                </span>
                                            </a><br />
                                        </span>
                                    }
                                </div>
                            </div>
                            <div class="col-md">
                                <b>Label(s):</b>
                                <SearchComponent Placeholder="Zoeken..." OnInput="OnTagSearch"></SearchComponent>
                                <div style="height: 360px; max-height:360px; overflow-y:auto; background-color:#eee;">
                                    @foreach (var item in Tags)
                                    {
                                        <span style="cursor: pointer">
                                            <a role="button" style="width:100%; border-radius:0px; text-align:left" class="btn btn-light" @onclick="@(() => OnTagItemSelected(item.Id))">
                                                @if (SelectedTags != null && SelectedTags.Contains(item.Id))
                                                {
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                                                    </svg>
                                                }
                                                else
                                                {
                                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                    </svg>
                                                }
                                                <span class="pl-3">
                                                    @item.Title
                                                </span>
                                            </a><br />
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                    <hr />
                    <PrimaryButton Type="submit">Opslaan</PrimaryButton>
                    <DangerButton OnClick="@(() => OnContactClicked(CurrentContact))">Annuleer</DangerButton>

                </EditForm>
            }
        }
    </div>
</div>



