@page "/e-mails"
@inherits E_mailsModel
<h3>E-mails</h3>

<hr />

<div class="page-content row">
    <div class="navigation col">
        <div class="content-nav">
            <div class="content-nav-top">
                <input class="form-control" placeholder="Zoeken..." />
                <div class="content-nav-header row">
                    <div class="col">
                        Campaign
                    </div>
                    <div class="col">
                        Datum
                    </div>
                </div>
            </div>
            <div class="content-nav-content">
                @if (Campaigns != null && CurrentCampaign != null)
                {

                    @foreach (var item in Campaigns)
                    {
                        <a class="content-nav-middle row" @onclick="@(()=>{_=OnCampaignSelected(item.Id);})">
                            <div class="col">
                                @item.Title
                            </div>
                            <div class="col">
                                @item.Date.ToString("dd/MM/yyyy")
                            </div>
                        </a>
                    }
                }
                else
                {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                }
            </div>
            <div class="content-nav-bottom">
                <button @onclick="@(()=>{ NewCampaign = true; CurrentCampaign = new Models.Campaign(); StateHasChanged(); })" class="btn btn-primary">Nieuw campagne</button>
            </div>
        </div>
    </div>
    <div class="details col">
        @if (NewCampaign)
        {
            if (CurrentCampaign != null)
            {

                <div>
                    <EditForm Model="CurrentCampaign">
                        <div class="form-group row">
                            <label for="title" class="col-sm-2 col-form-label">Titel</label>
                            <div class="col-sm-10">
                                <InputText class="form-control-plaintext" id="title" @bind-Value="CurrentCampaign.Title"></InputText>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label">Beschrijving</label>
                            <div class="col-sm-10">
                                <InputText class="form-control-plaintext" id="description" @bind-Value="CurrentCampaign.Description"></InputText>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="SubjectLine" class="col-sm-2 col-form-label">Onderwerp</label>
                            <div class="col-sm-10">
                                <InputText class="form-control-plaintext" id="SubjectLine" @bind-Value="CurrentCampaign.SubjectLine"></InputText>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="PreviewText" class="col-sm-2 col-form-label">Preview tekst</label>
                            <div class="col-sm-10">
                                <InputText class="form-control-plaintext" id="PreviewText" @bind-Value="CurrentCampaign.PreviewText"></InputText>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="label" class="col-sm-2 col-form-label">Labels</label>
                            <div class="col-sm-10">
                                @*<Bitmail.Components.TagSelectionSearch AllItems="AllTags" Multiselect="true" OnMultiSelectionChanged="OnTagsSelected"></Bitmail.Components.TagSelectionSearch>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="template" class="col-sm-2 col-form-label">Template</label>
                            <div class="col-sm-10">
                                @*<Bitmail.Components.TemplateSelectionSearch AllItems="AllTemplates" OnSelectionChanged="OnTemplateSelected"></Bitmail.Components.TemplateSelectionSearch>*@
                            </div>
                        </div>
                    </EditForm>
                </div>
            }
        }
        else
        {

            @if (CurrentCampaign != null)
            {
                @if (CurrentCampaign.Id != null)
                {
                    <h4>CampaignContent</h4>
                    @if (CurrentCampaign.Status == "save" || CurrentCampaign.Status == "paused" || CurrentCampaign.Status == "scheduled")
                    {
                        <div class="alert-info">
                            Dit campaign kan worden gewijzigd
                        </div>
                    }
                    else
                    {
                        <div class="alert-warning">
                            Dit campaign kan niet worden gewijzigd, campaign status: @CurrentCampaign.Status
                        </div>

                    }
                    <div class="row">
                        <div class="col">

                            @*Recipients:
                                @if (CurrentCampaign.Recipients != null)
                                {
                                    <select @bind="CurrentCampaign.Recipients.ListId">
                                        @foreach (var item in RecipientsLists)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                }
                                @if (CurrentCampaign.Settings != null)
                                {
                                    <EditForm Model="CurrentCampaign" OnSubmit="OnEditRequest">
                                        SubjectLine: <InputText class="form-control" @bind-Value="CurrentCampaign.Settings.SubjectLine" placeholder="SubjectLine" />
                                        PreviewText: <InputText class="form-control" @bind-Value="CurrentCampaign.Settings.PreviewText" placeholder="PreviewText" />
                                        FromName: <InputText class="form-control" @bind-Value="CurrentCampaign.Settings.FromName" placeholder="FromName" />
                                        ReplyTo: <InputText class="form-control" @bind-Value="CurrentCampaign.Settings.ReplyTo" placeholder="ReplyTo" />

                                        Template:
                                        @if (Templates != null)
                                        {
                                            <select class="form-control" @onchange="(a) => { _ = OnTemplateSelected(a.Value); }">
                                                <option>Selecteer een template</option>
                                                @foreach (var item in Templates)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        }
                                        @if (SelectedTemplateContent != null)
                                        {
                                            <button class="btn btn-outline-primary" type="button" @onclick="() => { EditSelectedTemplate = !EditSelectedTemplate; }">Parameters wijzigen</button><br />
                                            @if (EditSelectedTemplate)
                                            {
                                                <h4>TemplateContent wijzigen</h4>

                                                @if (SelectedTemplateContent.Sections != null)
                                                {
                                                    @foreach (var item in SelectedTemplateContent.Sections)
                                                    {
                                                        <div><span>@item.Key</span> <input class="form-control" value="@item.Value" @onchange="(a) => { SectionChanged(item.Key, a.Value.ToString()); }" /></div>
                                                    }

                                                }
                                                else
                                                {
                                                    <span>Deze template heeft geen secties waarin parameters kunnen worden meegegeven.</span>
                                                }
                                            }
                                        }

                                        <button class="btn btn-outline-primary" type="submit">Campaign wijzigingen opslaan</button>
                                    </EditForm>}*@
                        </div>
                    </div>
                    <button class="btn btn-outline-primary" @onclick="OnSend">Campaign verzenden</button>
                    @if (Message != null)
                    {
                        <div class="alert alert-primary">
                            @Message
                        </div>
                    }
                }
            }
        }
    </div>
</div>