@page "/emails/history"
@page "/emails/history/{id}"
@using Bitmail.Components
@using Bitmail.Components.Buttons;

<div class="row">
	<div class="col col-nav">
		<h3>Campagne historie:</h3>
		<hr />
		<SearchComponent Placeholder="Zoeken..." OnInput="OnSearch"></SearchComponent>
		@if (Campaigns != null)
		{
			@foreach (var item in Campaigns)
			{
				<a style="cursor: pointer" class="list-item" role="button" @onclick="@(() => OnCampaignClicked(item))">
					<div class="row m-0">

					<div class="col-9 p-0" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						@item.Title
					</div>
					<div class="col-3 p-0" style=" text-align:right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
						@item.Date.ToString("dd/MM")
					</div>
					</div>


				</a>
			}
		}
		else
		{
			<div class="spinner-border text-primary" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		}
	</div>
	<div class="col">

		@if (CurrentCampaign != null)
		{
			<h3>@CurrentCampaign.Title</h3>
			<b>@CurrentCampaign.SubjectLine</b><br />
			<b>Verzonden:</b> @CurrentCampaign.Date.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss");
			<div class="row">

				<div class="col-md">
					<b>Labels:</b>
					<div style="height: 200px; overflow-y:auto; background-color:#eee;">
						@if (CurrentCampaign.Tags != null)
						{
							@foreach (var item in CurrentCampaign.Tags.Split(";"))
							{
								@if (!string.IsNullOrEmpty(item))
								{
									<span style="cursor: pointer">
										<span class="pl-3">
											@item
										</span>
										<br />
									</span>
								}
							}}
					</div>
				</div>
				<div class="col-md">
					<b>Contacten:</b>
					<div style="height: 200px; overflow-y:auto; background-color:#eee;">
						@if (CurrentCampaign.Contacts != null)
						{
							@foreach (var item in CurrentCampaign.Contacts.Split(";"))
							{
								@if (!string.IsNullOrEmpty(item))
								{
									<span style="cursor: pointer">
										<span class="pl-3">
											@item
										</span>
										<br />
									</span>
								}
							}
						}
					</div>
				</div>
			</div>

			<b>Email inhoud:</b>
			@if (!string.IsNullOrEmpty(CurrentCampaign.HTML))
			{
				<div class="email-html">
					@((MarkupString)CurrentCampaign.HTML)
				</div>

			}
			<DangerButton OnClick="() => { _=RemoveHistory(CurrentCampaign); }">Verwijderen</DangerButton>

		}
	</div>
</div>